header .section .container .navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

* {
  margin: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
}

body {
  position: relative;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

main {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 8rem;
}
main section,
main .section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8rem;
  padding: 0 1.5rem;
  width: 100%;
}
main section > .container,
main .section > .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  width: 100%;
  max-width: 75rem;
  margin: 0 auto;
}
main section > .container.l-xsmall,
main .section > .container.l-xsmall {
  max-width: 44rem;
}
main section > .container.l-small,
main .section > .container.l-small {
  max-width: 56rem;
}
main section > .container.l-medium,
main .section > .container.l-medium {
  max-width: 64rem;
}
main section > .container.l-large,
main .section > .container.l-large {
  max-width: 75rem;
}
main section > .container.l-xlarge,
main .section > .container.l-xlarge {
  max-width: 90rem;
}