* {
  margin: 0;
  padding: 0;
}
html {
  width: 100%;
  overflow-x: hidden;
}
body {
  position: relative;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  background-color: var(--soft-white);
  font-size: 1.2rem;
  line-height: 1.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow-x: hidden;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 15rem;
}

section,
.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7rem;
  padding: 0 1.5rem;
  width: 100%;

  > .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 4rem;
    width: 100%;
    margin: 0;

    &.l-small {
      max-width: 56rem;
    }

    &.l-medium {
      max-width: 64rem;
    }

    &.l-large {
      max-width: 75rem;
    }
  }

  h2 {
    color: var(--color-primary);
    font-size: 2.2rem;
    font-weight: 800;
  }
}
